nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  font-family: "Bungee", sans-serif;  
  color: #FFFFFF;
  padding: 0 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 .titleNav {
  font-family: "Bungee", sans-serif;
 }

 .postButton {
  height: auto;
  font-family: "Source Sans Pro", sans-serif;
  border: none;
  
 }

.arrowDown {
  display: flex;
  justify-content: center;
  
}
