.formStyle {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    
}

.textArea {
  background-color: #f4f1ec;  
  border: 0;
  border-bottom: 5px solid #000;
  width: 100%;
  height: 68px;
  
}

.buttonStyle {
  background-color: #4056A1;
  font-family: "Bungee", sans-serif;  
  color: #FFFFFF;
  text-align: center;
}

.counter {
  color:#000;
  font-family: "Bungee", sans-serif;
  text-align: right;
  
}