.tweetContainer {
  position: relative;
  height: auto;
  border: 2px solid black;
  margin-bottom: 1em;
  margin-top: 1em;
  
}

.tweetContainer:hover {
  box-shadow: 10px 5px 5px rgb(128, 142, 226);
}

.icon{
  display: flex;
  justify-content: flex-end;
  
  margin-right: 35px;

}


.tweetContent {
  display: flex;
  justify-content: flex-start; 
  margin-top: 50px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px; 
  border-bottom: 5px solid #000;
  
}