.tweet {
  position: relative;
  height: auto;
  border: 2px solid black;
  margin-bottom: 1em;
  margin-top: 1em;
  
}

.tweet:hover {
  box-shadow: 10px 5px 5px rgb(128, 142, 226);
  transition: box-shadow 0.3s ease;
}

.icons{
  display: flex;
  justify-content: space-between;
  margin-right: 35px;
  padding: 5px;
}

.icons i:hover {
  color: #1DA1F2;
  
}

.tweetContent {
  display: flex;
  justify-content: flex-start; 
  margin-top: 35px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 35px; 
  border-bottom: 5px solid #000;
  
}

.datePost {
  margin-left: 5px;
  font-family: "Source Sans Pro", sans-serif;
}

.avatar {
  margin-left: 20px;
  margin-top: 20px;
}

.tweetName {
  display: flex;
  flex-direction: row;
  
}

.firstName {
  margin-left: 20px;
  margin-top: 40px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 50;
}

.handle {
  margin-left: auto;
  margin-right: 20px;
  margin-top: 42px;
}